@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter" !important;
  text-decoration: none !important;
  list-style: none !important;
}
body,
html {
  scroll-behavior: smooth;
  background-color: #fff !important;
  -webkit-font-smoothing: antialiased;
  /* overflow-y: hidden;
  overflow-x: hidden !important; */
}

::-webkit-scrollbar {
  background: rgb(255, 255, 255);
  width: 6px;
}
::-webkit-scrollbar-track {
  display: none;
  max-height: 500px;
  background: #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #191919;
  border-radius: 10px;
}
p {
  font-size: 18px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}

nav {
  position: fixed;
  /* transition: background-color 0.4s ease-out; */
  z-index: 1000;
  height: 110px;
  width: 100%;
  background: #fff;
  transition: 0.5s ease;
}

.welcome {
  float: left;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.welcome .logo-img::before {
  content: "";
  position: absolute;
  top: 20px;
  transform: translateX(-13%);
  border: 1px solid #F85C04;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.welcome .logo-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}

.logo-img img {
  width: 100%;
}

.welcome .logo-img2 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  /* margin-left: -80px !important; */
}

.logo-img2 img {
  width: 100%;
}

.welcome_user {
  margin: 20px 0 0 30px;
}

.hello {
  color: #343434;
  font-size: 18px;
  font-weight: bold;
}
.hello_sub {
  margin-top: -15px;
  font-size: 16px;
  color: #8C8C8C;
}

nav ul {
  float: right;
  margin-top: 10px;
  margin-right: 190px;
}

nav ul p {
  display: none;
}

nav ul li {
  display: inline-flex;
  align-items: center;
  line-height: 30px;
  margin: 10px 10px;
  z-index: 1001;
  padding: 10px 30px;
  border-radius: 30px;
  transition: 0.3s;
}
nav ul li ion-icon {
  color: #000;
}

nav ul li a {
  z-index: 1001;
  color: #000;
  font-family: "Inter" !important;
  font-size: 1rem;
  margin-left: 15px;
  text-align: left;
  text-decoration: none;
  position: relative;
 
}


nav ul li a:hover {
  color: #000;
}

nav ul li:hover {
  color: #000 !important;
  background: #FEF3ED;
}

/* .active-nav {
  background: #FEF3ED;
} */

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label .logo {
    font-size: 30px;
    padding-left: 40px;
  }

  nav ul li a {
    font-size: 16px;
    text-decoration: none;
  }

  nav ul {
    text-align: center;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  #messages_pane {
    display: none;
  }

  nav ul {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0;
    left: -100%;
    padding: 100px 0 0 30px;
    text-align: left;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  nav ul li {
    display: block;
    margin: 40px 0;
    text-align: left;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    color: rgb(150, 150, 150);
  }

  nav ul p {
    display: block;
    position: relative;
    padding-left: 10px;
    color: rgb(167, 167, 167);
    font-size: 14px;
    margin-bottom: 80px;
  }

  nav ul p::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    top: 40px;
    background: rgb(78, 78, 78);
  }
  
  #check:checked ~ .menu-board {
    left: 0;
  }
}

.hamburger_menu {
  z-index: 100;
  position: relative;
  top: 5%;
  right: 7%;
  transform: translateY(140%);
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.hamburger_menu:hover {
  opacity: 0.7;
}
.hamburger_menu.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #1E1E1E;
}

.hamburger_menu.active .middle {
  opacity: 0;
  background: #1E1E1E;
}
.hamburger_menu.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #1E1E1E;
}
.hamburger_menu span {
  z-index: 100;
  background: #1E1E1E;
  border: none;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.hamburger_menu span:nth-of-type(2) {
  top: 11px;
  width: 100%;
}
.hamburger_menu span:nth-of-type(3) {
  top: 22px;
}

#hero {
  padding-top: 160px;
  height: auto;
  position: relative;
}

.app_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cards {
  width: 180px;
  height: 140px;
  background: #FEF3ED;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  transition: 0.3s;
}

.cards:hover {
  border: 2px solid #F85C04;
}

.cards img {
  width: 60px;
}

.cards .bill-img {
  width: 50px;
}

.app_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.app_name p {
  color: #000;
  font-size: 15px;
  max-width: 90px;
}

.app_name ion-icon {
  color: #000;
  font-size: 16px;
  margin-top: -16px;
}

.small-p {
  margin-top: 24px;
}

.section_header {
  color: #BFBFBF !important;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.messages_pane {
  position: relative;
}

.sticky_div {
  width: 400px;
  height: 70px;
  background: #fff;
  position: fixed;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  bottom: 0;
  right: 30px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px -3px 24px -2px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px -3px 24px -2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px -3px 24px -2px rgba(0,0,0,0.2);
}

.sticky_header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin: 30px 40px;
}

.sticky_header p {
  font-size: 18px;
  font-weight: bold;
}

.message_icons {
  font-size: 25px;
  color: #545454;
  display: flex;
  gap: 20px;
}

.up_arrow {
  display: block;
}

.down_arrow {
  display: none;
}

.message_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.message_content img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.message_name_text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.groupname {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin-top: 15px; */
}

.typing {
  font-size: 12px;
  color: #F85C04;
  margin-top: -15px;
}

.last_msg {
  font-size: 12px;
  color: #787878;
  margin-top: -15px;
}

.msg_time_unread {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
}

.msg_time {
  text-align: right;
  text-transform: uppercase;
  color: #F85C04;
  font-size: 12px;
}

.msg_unread {
  text-align: center;
  background: #F85C04;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
}

button:hover {
  background: transparent;
  color: #fff;
  mix-blend-mode: difference;
  border: 1px #fff solid;
}

.hero-group {
  position: absolute;
  z-index: 11;
}

.hero-group h1 {
  z-index: 2;
  margin-top: 12rem;
  font-family: "Cormorant Garamond" !important;
  font-size: 4rem;
  color: #fff;
  max-width: 600px;
}

.rwd-table {
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #F5FBFB;
  color: #000;
}

.rwd-table tr {
  /* border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; */
  background-color: #F5FBFB;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #F5FBFB;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
  /* min-width: 150px; */
}


#graph {
  margin: 50px 0;
}

.graph_select {
  display: flex;
  gap: 10px;
}

#graph select {
  display: inline-block;
  /* width: 100%; */
  height: 40px;
  padding: 0px 10px;
  cursor: pointer;
  color: #7b7b7b;
  background: #fcfcfc;
  border-radius: 5px;
  border: 1px #7b7b7b solid;
  transition: all 0.2s ease;
}

.graph_header {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.graph_img {
  margin-top: 70px;
  padding-right: 10px;
  max-width: 500px;
}

  
@media screen and (max-width: 1100px) {
  .sticky_div {
    width: 350px;
    height: 70px;
    background: #fff;
    position: fixed;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    bottom: 0;
    right: 10px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px -3px 24px -2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px -3px 24px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -3px 24px -2px rgba(0,0,0,0.2);
  }  
}

/* @media (max-width: 962px) {

} */
/* @media (max-width: 768px) {

} */

@media (max-width: 350px) {
  label .logo {
    width: 20px !important;
    padding-left: 20px;
  }
}

/* #messages {
  padding-top: 100px;
} */

.messages-page {
  height: 100vh;
  padding-top: 100px;
}
.messages-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messages-page__title {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
}
@media screen and (max-width: 1199px) {
  .messages-page__title {
    font-size: 1.5rem;
  }
}
/* .messages-page__dark-mode-toogler {
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.35rem;
  border-radius: 50%;
  border: 1px solid #e8e7e7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messages-page__dark-mode-toogler:hover {
  background-color: #1E1E1E;
  border-color: #1E1E1E;
}
.messages-page__dark-mode-toogler:hover path {
  fill: #ffffff;
} */
.messages-page__list {
  list-style: none;
  flex-grow: 1;
  overflow-y: auto;
}
.messages-page__list-scroll {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.custom-form {
  color: #363636;
  padding: 1.5rem;
  border-radius: 13px;
}
.custom-form__search-wrapper, .custom-form__send-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.custom-form__search-wrapper input::placeholder, .custom-form__send-wrapper input::placeholder {
  color: #9b9b9b;
  font-size: 0.9rem;
}
.custom-form__search-wrapper input:focus, .custom-form__send-wrapper input:focus {
  outline: none;
  box-shadow: none;
}
.custom-form__search-wrapper input {
  padding-right: 3rem;
  background-color: #f2f2f2;
  border: 1px solid #ffffff;
}
.custom-form__search-wrapper input:placeholder-shown {
  background-color: #f2f2f2;
  border: 1px solid #ffffff;
}
.custom-form__search-wrapper input:focus {
  background-color: #ffffff;
  border-color: #e8e7e7;
  color: #000;
}
.custom-form__send-wrapper input {
  padding-right: 6rem;
  padding-left: 3.25rem;
  background-color: #f2f2f2;
  border: none;
}
.custom-form__send-wrapper input:focus {
  background-color: #f2f2f2;
  border-color: transparent;
  color: #000;
}
.custom-form__search-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-form__search-submit:focus {
  outline: none;
  border: none;
}
.custom-form__send-submit {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  height: 2.3rem;
  width: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F85C04;
  border-radius: 50%;
  box-shadow: 0 3px 3px #e49f77;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 0.3rem;
  color: white;
  padding-right: 0.1rem;
}
.custom-form__send-submit:focus {
  outline: none;
  border: none;
}
.custom-form__send-submit:hover {
  background-color: #1a7ee6;
}
.custom-form__send-img {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 2.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-form__send-emoji {
  position: absolute;
  top: 50%;
  right: 3.2rem;
  transform: translateY(-50%);
  width: 2.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-form__send-emoji ion-icon {
  font-size: 28px;
  transform: rotate(45deg);
  color: #626262;
}
input {
  border-radius: 50px !important;
  height: 40px !important;
}
.messaging-member {
  border-radius: 13px;
}
.messaging-member:hover {
  background-color: #ffffff;
}
.messaging-member--new .messaging-member__name {
  color: #626262;
}
.messaging-member--new .messaging-member__message {
  color: #626262;
}
.messaging-member--online .user-status {
  background-color: #7bc9aa;
}
.messaging-member--active {
  background-color: #e8f3ff;
}
.messaging-member--active:hover {
  background-color: #e8f3ff;
}
@media screen and (max-width: 767px) {
  .messaging-member--active {
    background-color: #ffffff;
  }
  .messaging-member--active:hover {
    background-color: #ffffff;
  }
}
.messaging-member__wrapper {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 13px;
  display: grid;
  grid-template-columns: 4rem 4fr;
  grid-template-rows: 2rem 2rem;
  column-gap: 1rem;
  grid-template-areas: "avatar     name" "avatar     message";
}
@media screen and (max-width: 1199px) {
  .messaging-member__wrapper {
    grid-template-columns: 3.5rem 1fr;
    grid-template-rows: 1.75rem 1.75rem;
  }
}
@media screen and (max-width: 991px) {
  .messaging-member__wrapper {
    grid-template-columns: 3.2rem 1fr;
    grid-template-rows: 1.75rem 1.75rem;
  }
}
.messaging-member__avatar {
  grid-area: avatar;
  position: relative;
}
.messaging-member__avatar img {
  border-radius: 50%;
  width: 100%;
}
.messaging-member__name {
  font-weight: bold;
  grid-area: name;
  color: #626262;
  margin-top: auto;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.messaging-member__message {
  grid-area: message;
  white-space: nowrap;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
}
.chat {
  height: 100%;
  width: 100%;
}
.chat__container {
  height: 100%;
  width: 100%;
}
.chat__wrapper {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  border-left: 1px solid #e8e7e7;
  border-right: 1px solid #e8e7e7;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .chat__wrapper {
    border-left: none;
    border-right: none;
  }
}
.chat__messaging {
  width: 100%;
  border-bottom: 1px solid #e8e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat__previous {
  width: 8%;
  min-width: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  cursor: pointer;
  color: #1E1E1E;
}
.chat__notification {
  width: 4%;
  min-width: 1.5rem;
}
.chat__notification span {
  display: none;
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  background-color: #1E1E1E;
  font-size: 0.9rem;
}
.chat__notification--new span {
  display: block;
}
.chat__infos {
  flex-grow: 1;
}
.chat__actions {
  font-size: 5px;
  height: 2rem;
  min-width: 2rem;
  color: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.chat__actions ul {
  list-style: none;
  display: flex;
}
.chat__actions ion-icon {
  font-size: 24px;
}
.chat__actions li {
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
}
.chat__actions li + li {
  margin-left: 0.3rem;
}
.chat__actions li:hover {
  background-color: #e8f3ff;
}
.chat__content {
  flex-grow: 1;
  overflow-y: auto;
}
.chat__list-messages {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.chat__list-messages li {
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.chat__list-messages li .chat__bubble {
  margin-bottom: 0.2rem;
}
.chat__bubble {
  position: relative;
  color: #363636;
  padding: 0.5rem 1rem;
  border-radius: 22px;
  background-color: #ffffff;
  max-width: 30rem;
  font-size: 0.9rem;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
}
.chat__bubble--you {
  margin-right: 2rem;
  color: white;
  background-color: #10B981;
}
.chat__bubble--me {
  margin-left: 2rem;
  background-color: #f2f2f2;
  align-self: flex-end;
}
.chat__time {
  font-size: 0.8rem;
  color: #9b9b9b;
  align-self: center;
  padding-bottom: 0.2rem;
}
.chat__send-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-member__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chat-member__avatar {
  position: relative;
  width: 3.5rem;
}
.chat-member__avatar img {
  border-radius: 50%;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .chat-member__avatar {
    width: 2.5rem;
  }
}
.chat-member__name {
  font-weight: bold;
  color: #626262;
  margin-top: auto;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
}
@media screen and (max-width: 1199px) {
  .chat-member__name {
    font-size: 0.9rem;
  }
}
.chat-member__details {
  margin-left: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .chat-member__details {
    margin-left: 1rem;
  }
}
.chat-member__age {
  font-size: 0.9rem;
  color: #9b9b9b;
  position: relative;
}
.chat-member__age::after {
  content: " . ";
  font-size: 0px;
  position: absolute;
  top: 50%;
  right: -4px;
  width: 3px;
  height: 3px;
  background-color: #9b9b9b;
  border-radius: 50%;
}
.chat-member__status {
  color: #9b9b9b;
  font-size: 0.8rem;
}
.chat__profile {
  width: 100%;
  height: 100%;
  max-width: 20rem;
}
.chat--mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  transform: translateY(100%);
  display: none;
  transition: transform 0.3s ease-in-out 0.1s;
}
.chat--mobile .chat__wrapper {
  border-radius: 0;
}
.chat--mobile.chat--show {
  display: block;
  transform: translateY(0%);
  border-radius: 0;
}
.user-profile {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}
.user-profile__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-profile__close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 2rem;
  height: 2rem;
  color: #1E1E1E;
  font-size: 1.375rem;
  cursor: pointer;
  z-index: 10003;
}


.user-profile__label {
  font-size: 0.9rem;
  font-weight: bold;
}
.user-profile__tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.user-profile__tags li {
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}
.user-profile__tags a:hover {
  text-decoration: none;
}

.user-profile__tags--secondary li {
  background-color: #e6f7f0;
  color: #2c2c2c;
}
.user-profile__tags--secondary a:hover {
  color: #2c2c2c;
}
.user-profile--large {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10002;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out 0.1s;
  background-color: #ffffff;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.06);
}
.user-profile--large.user-profile--show {
  display: block;
  transform: translateX(0%);
  border-radius: 0;
}
.user-status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1rem;
  height: 1rem;
  background-color: #9b9b9b;
  border: 3px solid white;
  border-radius: 50%;
}
.user-status--online {
  background-color: #2c2c2c;
}
.svg-icon {
  width: 70%;
}
.svg-icon path, .svg-icon circle {
  fill: #1E1E1E;
}
.svg-icon--send {
  width: 60%;
}
.svg-icon--send path, .svg-icon--send circle {
  fill: white;
}
.svg-icon--search {
  width: 40%;
}
.svg-icon--search path, .svg-icon--search circle {
  fill: #818181;
}
.svg-icon--send-img {
  width: 55%;
}
.svg-icon--send-img path, .svg-icon--send-img circle {
  fill: #818181;
}
.svg-icon--send-emoji {
  width: 60%;
}
.svg-icon--send-emoji path, .svg-icon--send-emoji circle {
  fill: #818181;
}
.svg-icon--previous {
  width: 55%;
}
.svg-icon--dark-mode {
  width: 80%;
}
.svg-icon--dark-mode path, .svg-icon--dark-mode circle {
  fill: #1E1E1E;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
  .chat-member__name {
    max-width: 100px !important;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  .chat__container .custom-form__search-wrapper {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #F5FBFB;
  }
  .rwd-table td:before {
    display: none;
  } 
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1.2em !important;
  }
}